<!-- Footer -->
<p class="clearfix mb-0">
  <span class="float-md-left d-block d-md-inline-block mt-25">
    &copy; {{ year }}
    <a class="ml-25" href="https://heno.vn/en" target="_blank"
      >Tingee Finance</a
    >
  </span>
  <!-- <span class="float-md-right d-none d-md-block">
    <span href="#" class="btn btn-outline-success btn-sm mr-1">
      <i class="fas fa-book"></i> Hướng dẫn sử dụng
    </span>
    <span href="#" class="btn btn-outline-warning btn-sm">
      <i class="fas fa-life-ring"></i> Zalo hỗ trợ
    </span>
  </span> -->
</p>

<!--/ Footer -->

<!-- Move to top Button-->
<app-scroll-top *ngIf="coreConfig.layout.scrollTop"></app-scroll-top>
