<div class="auth-wrapper auth-v2">
  <div class="auth-inner row m-0">
    <!-- Brand logo--><a class="brand-logo" href="javascript:void(0);">
      <img src="{{ coreConfig.app.appLogoImage }}" alt="brand-logo" height="28" />
      <!-- <h2 class="brand-text text-primary ml-1">
        {{ coreConfig.app.appName }}
      </h2> -->
    </a>
    <!-- /Brand logo-->
    <!-- Left Text-->
    <div class="d-none d-lg-flex col-lg-8 align-items-center p-5">
      <div class="w-100 d-lg-flex align-items-center justify-content-center px-5">
        <img [src]="
            coreConfig.layout.skin === 'dark'
              ? 'assets/images/pages/reset-password-v2-dark.svg'
              : 'assets/images/pages/reset-password-v2.svg'
          " img-fluid="img-fluid" alt="Register V2" />
      </div>
    </div>
    <!-- /Left Text-->
    <!-- Reset password-->
    <div class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-5">
      <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
        <h2 class="card-title font-weight-bold mb-1">Đặt lại mật khẩu 🔒</h2>
        <!-- <p class="card-text mb-2">
          Mật khẩu mới của bạn phải khác với mật khẩu đã sử dụng trước đó
        </p> -->
        <form class="auth-reset-password-form mt-2" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="new-password" class="form-label">Mật khẩu mới</label>
            <input type="password" formControlName="newPassword" class="form-control" placeholder="Nhập mật khẩu mới"
              [ngClass]="{
                'is-invalid': f.newPassword.touched && f.newPassword.errors,
                'is-valid': f.newPassword.touched && !f.newPassword.errors
              }" />
            <div class="invalid-feedback" *ngIf="f.newPassword.touched && f.newPassword.errors">
              <div *ngIf="f.newPassword.errors.required">
                Mật khẩu là bắt buộc
              </div>
              <div *ngIf="f.newPassword.errors.minlength">
                Mật khẩu phải có ít nhất 8 ký tự
              </div>
              <div *ngIf="f.newPassword.errors.pattern">
                Mật khẩu phải chứa ít nhất một chữ cái hoa, một chữ cái thường,
                một số, và một ký tự đặc biệt
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="confirm-password" class="form-label">Xác nhận mật khẩu</label>
            <input type="password" formControlName="confirmPassword" class="form-control"
              placeholder="Xác nhận mật khẩu" [ngClass]="{
                'is-invalid':
                  f.confirmPassword.touched && f.confirmPassword.errors,
                'is-valid':
                  f.confirmPassword.touched && !f.confirmPassword.errors
              }" />
            <div class="invalid-feedback" *ngIf="f.confirmPassword.touched && f.confirmPassword.errors">
              <div *ngIf="f.confirmPassword.errors.required">
                Xác nhận mật khẩu là bắt buộc
              </div>
              <div *ngIf="f.confirmPassword.errors.mustMatch">
                Mật khẩu xác nhận không khớp
              </div>
            </div>
          </div>

          <button class="btn btn-primary btn-block" tabindex="3" rippleEffect>
            Đặt mật khẩu mới
          </button>
        </form>
        <p class="text-center mt-2">
          <a routerLink="/login"><i data-feather="chevron-left" class="mb-25"></i> Đăng nhập</a>
        </p>
      </div>
    </div>
    <!-- /Reset password-->
  </div>
</div>