<div class="content-wrapper p-0">
  <div class="content-body">
    <!-- User List -->
    <section class="users-list-wrapper">
      <div class="card">
        <div>
          <!-- <span>Danh sách jobs</span> -->
          <!-- Action Component -->
          <app-action [tableData]="positionsArray" [tableTitle]="tableTitle" [showActionButton]="true"
            [showExportImportButton]="false" [showChangeStatusButton]="false" [anySelected]="anySelected.bind(this)"
            (onAdd)="addPosition()" (onSendSelected)="handleSendSelected()">
          </app-action>
        </div>
        <div class="card-body">
          <div class="users-list-filter">
            <form>
              <div class="row">
                <div class="col-12 col-md-4">
                  <fieldset class="form-group">
                    <ng-select [items]="branchsArray" [(ngModel)]="searchByBranch" name="branchName"
                      bindLabel="branchName" bindValue="id" placeholder=" Chọn chi nhánh"
                      (change)="filterByBranch($event)"></ng-select>
                  </fieldset>
                </div>
                <div class="col-12 col-md-4">
                  <fieldset class="form-group">
                    <ng-select [items]="departmentsArray" [(ngModel)]="searchByDepartment" name="department"
                      bindLabel="departmentName" bindValue="id" placeholder=" Chọn phòng ban" [disabled]="
                        !departmentsArray || departmentsArray.length === 0
                      " (change)="filterByDepartment($event)"></ng-select>
                  </fieldset>
                </div>
                <div class="col-12 col-md-4">
                  <fieldset class="form-group">
                    <input type="text" [(ngModel)]="searchByPositionName" #searchInput name="search"
                      placeholder="Tìm kiếm" class="form-control" (keyup.enter)="onSearch(searchInput.value)" />
                  </fieldset>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div>
          <div *ngIf="loading" class="text-center my-5">
            <!-- Bạn có thể thêm một spinner ở đây nếu muốn -->
            <div class="spinner-border" role="status">
              <span class="visually-hidden"></span>
            </div>
            <div>Đang tải dữ liệu...</div>
          </div>

          <app-table *ngIf="!loading" [showActionButton]="true" [tableTitle]="tableTitle" [tableData]="positionsArray"
            [columnArray]="columnArray" [totalItems]="totalItems" [itemsPerPage]="itemsPerPage"
            [currentPage]="currentPage" [totalPages]="totalPage" (onPageChange)="onPageChange($event)"
            (onItemsPerPageChange)="onItemsPerPageChange($event)" (onEdit)="editPosition($event)"
            (onDelete)="deletePosition($event)" (onSelectedItemsChange)="handleSelectedItemsChange($event)"
            (onView)="viewPosition($event)" (onSortChange)="onSortChange($event)"></app-table>
        </div>
      </div>
    </section>
    <!--/ User List -->
  </div>

  <!-- New Position -->
  <ng-template #modalAddEdit let-modal>
    <div class="modal-header">
      <h4 class="modal-title " id="myModalLabel1">
        <ng-container *ngIf="modalMode === 'add'">Thêm mới chức vụ</ng-container>
        <ng-container *ngIf="modalMode === 'edit'">Chỉnh sửa chức vụ</ng-container>
      </h4>
      <button type="button" class="close" (click)="onCloseModal(modal)" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div *ngIf="modalLoading" class="text-center my-3">
        <span class="spinner-border spinner-border-lg"></span> Đang tải dữ
        liệu...
      </div>
      <div class="form-area" *ngIf="!modalLoading">
        <form [formGroup]="form" (ngSubmit)="onSubmitReactiveForm(modal)">
          <!-- Chi nhánh -->
          <div class="form-group">
            <label for="branch">Tên chi nhánh: <span class="text-danger">(*)</span></label>
            <app-select-branch [selectedBranch]="selectedBranch" (branchChanged)="onBranchChanged($event)"
              (branchAdded)="onBranchAdded($event)" (branchBlurred)="onBranchBlurred()"
              [ngClass]="{'is-invalid': form.get('branchName')?.touched && form.get('branchName')?.invalid}"></app-select-branch>
            <div *ngIf="form.get('branchName')?.touched && form.get('branchName')?.invalid" class="invalid-feedback">
              Chi nhánh là bắt buộc
            </div>
          </div>

          <!-- Phòng ban -->
          <div class="form-group">
            <label for="departmentId">Phòng ban:<span class="text-danger">(*)</span></label>
            <app-select-department [selectedBranch]="selectedBranch" [selectedDepartment]="selectedDepartment"
              (departmentChanged)="onDepartmentChanged($event)" (departmentAdded)="onDepartmentAdded($event)"
              (departmentBlurred)="onDepartmentBlurred()" [isDisabled]="isDisabled"
              [ngClass]="{'is-invalid': form.get('departmentId')?.touched && form.get('departmentId')?.invalid}"></app-select-department>
            <div *ngIf="
                form.get('departmentId').touched &&
                form.get('departmentId').invalid
              " class="invalid-feedback">
              Phòng ban là bắt buộc
            </div>
          </div>

          <!-- Tên chức vụ -->
          <div class="form-group">
            <label for="positionName">Tên chức vụ:<span class="text-danger">(*)</span></label>
            <input type="text" class="form-control" placeholder="Tên chức vụ" formControlName="positionName" />
            <div *ngIf="
                form.get('positionName').touched &&
                form.get('positionName').invalid
              " style="color: #e74c3c; margin-top: 5px; font-size: 14px">
              <div *ngIf="form.get('positionName').errors?.required">
                Tên chức vụ là bắt buộc
              </div>
              <div *ngIf="form.controls['positionName'].errors?.apiError">
                <div *ngFor="
                    let error of form.controls['positionName'].errors?.apiError
                  ">
                  {{ error }}
                </div>
              </div>
            </div>

          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">
              Đóng
            </button>
            <button type="submit" class="btn btn-primary" [disabled]="form.invalid || formLoading">
              <span *ngIf="formLoading" class="spinner-border spinner-border-sm mr-1"></span>Lưu
            </button>
          </div>
        </form>
      </div>
    </div>
  </ng-template>

  <ng-template #modalView let-modal>
    <div class="modal-header">
      <h4 class="modal-title ">Xem chi tiết chức vụ</h4>
      <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div *ngIf="modalLoading" class="text-center my-3">
        <span class="spinner-border spinner-border-lg"></span> Đang tải dữ
        liệu...
      </div>
      <div *ngIf="!modalLoading">
        <table class="table table-bordered table-striped">
          <tbody>
            <ng-container *ngFor="let field of positionFields">
              <tr>
                <td><strong>{{ field.label }}</strong></td>
                <td>{{ field.value || "Chưa có dữ liệu" }}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">
          Đóng
        </button>
      </div>
    </div>
  </ng-template>

  <ng-template #modalDelete let-modal>
    <div class="modal-header">
      <h5 class="modal-title ">Xác nhận xóa</h5>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p *ngIf="selectedPosition">
        Bạn có chắc chắn muốn xóa chi nhánh
        <strong>{{ selectedPosition?.positionName }}</strong> không?
      </p>
      <p *ngIf="!selectedPosition">
        Bạn có chắc chắn muốn xóa các chi nhánh đã chọn không?
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.dismiss('cancel')">
        Đóng
      </button>
      <button type="button" class="btn btn-danger" (click)="deleteSelectedBranches(modal)" [disabled]="deleteLoading">
        <span *ngIf="deleteLoading" class="spinner-border spinner-border-sm mr-1"></span>
        Xóa
      </button>
    </div>
  </ng-template>


</div>