<div class="auth-wrapper auth-v2">
  <div class="auth-inner row m-0">
    <!-- Brand logo-->
    <a class="brand-logo" href="javascript:void(0);">
      <img src="{{ coreConfig.app.appLogoImage }}" alt="brand-logo" height="28" />
      <!-- <h2 class="brand-text text-primary ml-1">Vuexy</h2> -->
    </a>
    <!-- /Brand logo-->
    <!-- Left Text-->
    <div class="d-none d-lg-flex col-lg-8 align-items-center p-5">
      <div class="w-100 d-lg-flex align-items-center justify-content-center px-5">
        <img class="img-fluid" [src]="
            coreConfig.layout.skin === 'dark'
              ? 'assets/images/pages/login-v2-dark.svg'
              : 'assets/images/pages/login-v2.svg'
          " alt="Login V2" />
      </div>
    </div>
    <!-- /Left Text-->

    <!-- Forgot password (Email Form) -->
    <div *ngIf="showEmailForm && !showOtpForm && !showResetPasswordForm"
      class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-5">
      <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
        <h2 class="card-title font-weight-bold mb-1">Quên mật khẩu? 🔒</h2>
        <p class="card-text mb-2">Nhập địa chỉ email để đặt lại mật khẩu</p>
        <form class="auth-forgot-password-form mt-2" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="register-email" class="form-label">
              Email <span class="text-danger">(*)</span>
            </label>
            <input type="text" formControlName="email" class="form-control" placeholder="johndoe@gmail.com"
              aria-describedby="register-email" tabindex="3" [ngClass]="{
                'is-valid': f.email.touched && !f.email.errors,
                'is-invalid': f.email.touched && f.email.errors
              }" />
            <div class="invalid-feedback" *ngIf="f.email.touched && f.email.errors">
              <div *ngIf="f.email.errors.required">Email là bắt buộc</div>
              <div *ngIf="f.email.errors.pattern">
                Email phải đúng định dạng
              </div>
              <div *ngIf="f.email.errors?.serverError">
                {{ f.email.errors.serverError }}
              </div>
            </div>
          </div>
          <button class="btn btn-primary btn-block" tabindex="2" type="submit">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Gửi
          </button>
        </form>

        <p class="text-center mt-2">
          <a routerLink="/login">
            <i data-feather="chevron-left" class="mb-25"></i> Đăng nhập
          </a>
        </p>
      </div>
    </div>
    <!-- /Forgot password (Email Form) -->

    <!-- OTP Form -->
    <div *ngIf="showOtpForm && !showResetPasswordForm" class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-5">
      <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
        <h2 class="card-title font-weight-bold mb-1">Nhập mã OTP 🔑</h2>
        <p class="card-text mb-2">
          Nhập OTP được gửi tới email của bạn để xác minh và đặt lại mật khẩu.
        </p>
        <form [formGroup]="otpForm" (ngSubmit)="onSubmitOtp()">
          <div class="form-group row">
            <!-- Ô nhập OTP và nút Gửi lại OTP -->
            <div class="col-12 d-flex">
              <div class="flex-grow-1 position-relative">
                <label for="otp">OTP</label>
                <input type="text" id="otp" class="form-control" formControlName="otp" placeholder="Nhập OTP" [ngClass]="{
                    'is-valid': fOtp.otp.touched && !fOtp.otp.errors,
                    'is-invalid': fOtp.otp.touched && fOtp.otp.errors
                  }" />
                <div class="invalid-feedback" *ngIf="fOtp.otp.touched && fOtp.otp.errors">
                  <div *ngIf="fOtp.otp.errors.required">OTP là bắt buộc</div>
                  <div *ngIf="fOtp.otp.errors.minlength">
                    OTP phải có đúng 6 ký tự
                  </div>
                </div>
              </div>
              <div class="ml-2 d-flex align-items-end">
                <button type="button" class="btn btn-primary" (click)="resendOtp()" [disabled]="resendingOtp">
                  Gửi lại OTP
                </button>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-block mt-3">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Xác minh OTP
          </button>
        </form>
      </div>
    </div>

    <!-- Form nhập mật khẩu mới sau khi OTP được xác minh -->
    <div *ngIf="showResetPasswordForm" class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-5">
      <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
        <h2 class="card-title font-weight-bold mb-1">Đặt lại mật khẩu 🔑</h2>
        <p class="card-text mb-2">Nhập mật khẩu mới của bạn.</p>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmitResetPassword()">
          <div class="form-group">
            <label for="newPassword">Mật khẩu mới</label>
            <input type="password" id="newPassword" class="form-control" formControlName="newPassword"
              placeholder="Nhập mật khẩu mới" [ngClass]="{
                'is-valid':
                  fReset.newPassword.touched && !fReset.newPassword.errors,
                'is-invalid':
                  fReset.newPassword.touched && fReset.newPassword.errors
              }" />
            <div class="invalid-feedback" *ngIf="fReset.newPassword.touched && fReset.newPassword.errors">
              <div *ngIf="fReset.newPassword.errors.required">
                Mật khẩu là bắt buộc
              </div>
              <div *ngIf="fReset.newPassword.errors.minlength">
                Mật khẩu phải có ít nhất 8 ký tự
              </div>
              <div *ngIf="fReset.newPassword.errors.pattern">
                Mật khẩu phải chứa ít nhất một chữ cái hoa, một chữ cái thường,
                một số, và một ký tự đặc biệt.
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="confirmPassword">Xác nhận mật khẩu</label>
            <input type="password" id="confirmPassword" class="form-control" formControlName="confirmPassword"
              placeholder="Xác nhận mật khẩu" [ngClass]="{
                'is-valid':
                  fReset.confirmPassword.touched &&
                  !fReset.confirmPassword.errors,
                'is-invalid':
                  fReset.confirmPassword.touched &&
                  fReset.confirmPassword.errors
              }" />
            <div class="invalid-feedback" *ngIf="
                fReset.confirmPassword.touched && fReset.confirmPassword.errors
              ">
              <div *ngIf="fReset.confirmPassword.errors.required">
                Xác nhận mật khẩu là bắt buộc
              </div>
              <div *ngIf="fReset.confirmPassword.errors.mustMatch">
                Mật khẩu không khớp
              </div>
            </div>
          </div>

          <button type="submit" class="btn btn-primary btn-block">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Đặt lại mật khẩu
          </button>
        </form>
      </div>
    </div>

    <!-- /OTP Form -->
  </div>
</div>