@import "@core/scss/base/pages/page-auth.scss";
@import "~ngx-toastr/toastr.css";
input.ng-valid.ng-touched {
  border: 2px solid #28a745 !important; /* Green border for valid inputs */
}

input.ng-invalid.ng-touched {
  border: 2px solid #dc3545 !important; /* Red border for invalid inputs */
}

.invalid-feedback {
  font-size: 0.875rem;
  color: #dc3545;
}
